<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="flex">
        <a href="/">Home</a>
        <a href="/user/new"><button>Add User</button></a>
    </div>
    <div class="container">
        <header><h1>Users</h1></header>
    
    
        <div class="index">
       <% users.forEach(user=>{%>
        
        <h2>Name:-<%= user.name%></h2>
        <h2>Email:-<%= user.email%></h2>
        <h2>Age:-<%= user.age%></h2>
        <h2>Mobile:-<%= user.mobile%></h2>
        <a href="/user/<%= user._id%>"><button>show</button></a>
        <p>---------------------------------</p>

      <% }) %>
        
    
    </div>
    
    </div>
</body>
</html>